version: '2'
services:
  maven-app:
     user: jenkins
     image: maven:3.5-jdk-8
     volumes:
      - /etc/passwd:/etc/passwd:ro
      - "${JENKINS_HOME}:${JENKINS_HOME}"
      - "${WORKSPACE}:${WORKSPACE}"
     entrypoint: mvn clean package
