version: '2'
services:
  maven-app:
     user: "997:994"
     image: maven:3.5-jdk-8
     volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "${JENKINS_HOME}/.m2:${JENKINS_HOME}/.m2"
      - "${JENKINS_HOME}:${JENKINS_HOME}"
      - "${WORKSPACE}:${WORKSPACE}"
     entrypoint: mvn clean package
